/*
 * form.css - master stylesheet for all forms
 *
 * Florian <floriandejonckheere.be>
 *
 * IMPORTANT: when considering fixed widths for elements, bear in mind that all input elements (and textareas) have paddings and borders!
 *
 * This file should be the second CSS file linked to (after style.css), before any other CSS sheets affecting input elements.
 * These options set the general look and feel of input elements, without specifics such as width and height.
 *
 **/

form {
	/* For labels */
	color:#999;
}
/* Base model for input elements */
input, textarea {
	font-family:inherit;
	font-size:15px;
	border:1px solid #bbb;
	color:#999;
	/* DO NOT FORGET TO SUBSTRACT THESE PADDINGS FROM YOUR CALCULATION (TOP-BOTTOM and LEFT-RIGHT) */
	padding:7px 10px;
	margin:5px auto;
	overflow:auto;
}
input {
	/* Default height for input, overide as needed */
	height:25px;
}
textarea {
	/* Default height for textarea, override as needed */
	height:175px;
}
input:focus,
textarea:focus {
	color:#222;
}
input[type="button"],
input[type="submit"] {
	height:41px;
	vertical-align:bottom;
	/* Default width for buttons, override as needed */
	width:150px;
	border:1px solid #bbb;
	color:#999;
	background:white;
	margin-top:15px;
	/* reset padding */
	padding:0;
}
input[type="button"]:focus,
input[type="submit"]:focus {
	color:#aaa;
}
