body {
	font:18px "Source Sans Pro";
}
a {
	color:black;
	text-decoration:none;
}
#container {
	width:700px;
	margin-left:auto;
	margin-right:auto;
}
#title  {
	font:65px "Open Sans";
	margin-top:50px;
	text-align:center;
}
#menu {
	margin-top:50px;
	padding:10px 35px 10px 35px;
	font:15px "Source Sans Pro";
}
.menu-item {
	margin:0 10px 0 10px;
}
#menu-links {
	float:right;
}
#content {
	margin-top:50px;
	padding:10px 35px 10px 35px;
	text-align:justify;
}
#footer {
	margin-top:25px;
	text-align:center;
	font-size:13px;
}
.title {
	display:block;
	margin-bottom:10px;
	font:30px "Open Sans";
}
