body {
	font:18px "Source Sans Pro";
}
a {
	color:black;
	text-decoration:underline;
}
code,pre {
	display:block;
	font-size:12px;
	width:100%;
	padding:7px;
}
nav {
	margin-top:25px;
	padding:10px 35px 10px 35px;
	font:15px "Source Sans Pro";
}
img {
	vertical-align:middle;
	border:0;
}
article {
	width:630px;
}
footer {
	margin: 25px auto 50px auto;
	text-align:center;
	font-size:13px;
}
#container {
	width:700px;
	margin-left:auto;
	margin-right:auto;
}
#title  {
	font:65px "Open Sans";
	margin-top:50px;
	text-align:center;
}
#menu-links {
	float:right;
	text-decoration:none;
}
#content {
	margin-top:50px;
	padding:10px 35px 10px 35px;
	text-align:justify;
}
.menu-item {
	margin:0 10px 0 10px;
	text-decoration:none;
}
.artTitle {
	display:block;
	margin-bottom:10px;
	font:30px "Open Sans";
}
.artText {
	margin:auto 10px auto 10px;
}
.commContainer {
	margin:15px auto auto 10px;
	font-size:14px;
	width:500px;
}
.timestamp {
	color:grey;
}
.comment {
	display:block;
	margin:10px auto 10px 15px;
}
.name {
	display:inherit;
	font-weight:600;
}
.commText {
	display:inherit;
}



.download {
	font-size:15px;
	margin-bottom:20px;
}



input, textarea {
	font-family:inherit;
	font-size:15px;
	height:25px;
	width:279px;
	border:1px solid #ccc;
	color:#aaa;
	padding:7px 11px;
	overflow:auto;
}
textarea {
	height:150px;
	width:434px;
}
input:focus, textarea:focus {
	color: #222;
}
/* Override needed for styling the buttons */
.button {
	height:41px;
	margin: auto 5px auto 5px;
	vertical-align:bottom;
	width:150px;
	border:1px solid #ccc;
	color: #aaa;
	background:white;
	margin-top:5px;
}
.button:focus {
	color:#aaa;
}
