/*
 * style.css - stylesheet for main document
 *
 * Florian <floriandejonckheere.be>
 *
 **/

/* Workaround for fixed-width scrollbar problem */
html {
	overflow-y:scroll;
}

/*		Semantic elements		 */
/* General structure of the page */
body {
	font:18px "Source Sans Pro";
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
nav {
	padding:10px 35px 10px 35px;
	font-size:15px;
}
section {
	margin-top:35px;
	padding:inherit 35px;
	text-align:justify;
}
article {
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	width:630px;
}
footer {
	margin: 25px auto 50px auto;
	text-align:center;
	font-size:13px;
}

.text {
	text-align:justify;
	margin:auto 10px auto 10px;
}




/*			Markup elements			*/
/*		Titels, subtitels, links	*/
#title  {
	font:65px "Open Sans";
	margin-top:50px;
	text-align:center;
	cursor:pointer;
}
#loginBar {
	height:25px;
	padding-right:35px;
}
#login {
	float:right;
	font-size:12px;
}
#menuLinks {
	float:right;
}
nav a {
	margin:0 10px 0 10px;
	text-decoration:none;
}

a {
	color:black;
	text-decoration:underline;
}
code,pre {
	display:block;
	font:13px "Inconsolata";
	width:584px;
	max-width:584px;
	padding:14px;
	padding-right:0;
	padding-bottom:0;
	margin:15px 10px;
	margin-right:0;
	border:1px solid #bbb;
	text-align:left;
	overflow-x:scroll;
	overflow-y:wrap;
}
.latex {
	text-align:center;
}
img {
	vertical-align:middle;
	border:0;
}
.icon {
	margin-right:5px;
}

.linkList {
	list-style-position:inside;
	padding-left:15px;
}
li {
	margin-bottom:3px;
}
.linkList span {
	margin-left:12px;
}
li {
	margin-bottom:5px;
}
/* Types of linklist (use with <ul class="linklist link">)*/
.link {
	list-style-image:url('icons/link.png');
}
.download {
	list-style-image:url('icons/download-alt.png');
}
.enum {
	list-style-image:url('icons/chevron-right.png');
}


.timestamp {
	float: right;
	font-size: 12px;
}

h1 {
	margin-bottom:10px;
	font:30px "Open Sans";
}
h2 {
	margin-top:10px;
	font:23px "Open Sans";
	font-weight:300;
}
h3 {
	margin-top:15px;
	font:18px "Open Sans";
	font-weight:300;
}

